vt
rsa
six
idna
pytz
tqdm
wget
yarg
yarl
numpy
vt-py
pandas
pyasn1
certifi
gspread
PySocks
urllib3
httplib2
colorama
autopep8
filelock
oauthlib
protobuf
requests
pyparsing
soupsieve
cachetools
google-auth
pycodestyle
uritemplate
oauth2client
pyasn1-modules
google-api-core
python-dateutil
gspread-dataframe
requests-oauthlib
charset-normalizer
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
googleapis-common-protos